<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/main.css">
	<title>Layout Basica</title>
</head>
<body>
	<div class="container">
		<header>
			<nav>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Acerca de</a></li>
					<li><a href="#">Productos</a></li>
					<li><a href="#">Cotactos</a></li>
				</ul>
			</nav>	
		</header>
		<section class="main">
			<div class="image">
				<img src="img/bg.jpg" alt="">
			</div>
			<section class="post">
				<article>
					<h2>
						Titulo del articulo
					</h2>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat soluta amet odio, error laboriosam quae velit repudiandae nulla ex, accusamus placeat. Cupiditate quaerat a optio, quisquam natus corporis! Quibusdam, in.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, id, tenetur. Odit voluptatibus labore fuga. Officiis voluptatem sequi, officia vitae minus tempora deserunt cupiditate incidunt voluptatum, voluptate fugit aut error.
					</p>
				</article>
			</section>
		</section>
		<aside>
			<div class="widget">
				<h3 class="title-widget">Destacados</h3>
				<ul>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
				</ul>
			</div>
			
			<div class="widget">
				<h3 class="title-widget">Informacion</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tempore placeat, ad porro unde nulla quam, impedit assumenda velit debitis autem laboriosam expedita, vel natus ex. Dolorem qui minima illum.
				</p>
			</div>			
		</aside>
		<footer>
			  <p>
			  	Bruno Fuentes "Brunidas" 2019 -- Todos los derechos reservados
			  </p>
		</footer>

	</div>
</body>
</html>
